.home {
    background-color: lightpink;
    z-index: -1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    width: 100vw;
    display: flex;
    margin-bottom: 80px;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logoutButton {
    
}

.userDetails {
    font-weight: 600;
    font-size: larger;
    color: black;
}

.logoutButton {

}

.entries {

}

.journal {

}

.g-btn {
    width: 100% !important;
    height: 40px !important;
    line-height: 40px !important;
    font-size: 15px !important;
  }
  .g-btn > div,
  .g-btn > div > svg {
    width: 40px !important;
    height: 38px !important;
  }