.App {
    background-color: #d3d3d3;
    font-family: sans-serif;
    width: 100vw;
    /* text-align: center; */
  }

.notes {
    width: 100vw;
    height: 100vw;
}

.title {
  text-align: center;
}
  
  .notesMainDiv {
      width: 100vw;
      height: 100vh;
  }

.leftPanel {
  width: 40vw;
}

.rightPanel {
  width: 40vw;
}

.journalForm {
  width: 100%;
}

  .journal {
      display: flex;
      flex-direction: row;
  }

  .outerCardDiv {
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    background-color: lightblue;
  }

  .cardDiv {
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    background-color: white;
  }


  .journalTitle {
    font-size: 40px;
  }

  .journalTitleLabel {
    font-size: 30px;
    font-family: inherit;
    font-weight: 600;
    margin-right: 20px;
  }

  .journalTitleInput {
    font-size: 25px;
    border: solid 2px;
    border-radius: 6px;
    width: 45vw;
    margin-left: 127px
  }

  .journalContent {
    font-size: 40px;
  }

  .journalContentLabel {
font-size: 30px;
font-family: inherit;
font-weight: 600;
margin-right: 20px;
  }

  .journalContentInput {
    font-size: 25px;
    border: solid 2px;
    width: 50vw;
    height: 33vh;
    border-radius: 6px
  }

  .saveButton {
    background-color: black;
    border-radius: 7px;
    border: none;
    height: 35px;
    color: white;
    padding: 5px;  }